<div th:fragment="deleteType">
    <div class="settings-form" id="settingsForm" style="display: none;">
        <label><input type="radio" name="option" value="default" checked onclick="toggleTimeInput(false)"> Default</label><br>
        <label><input type="radio" name="option" value="afterFirst" onclick="toggleTimeInput(false)"> One time look</label><br>
        <label><input type="radio" name="option" value="afterTime" onclick="toggleTimeInput(true)"> After time</label><br>
        <div id="timeInputContainer" style="display: none; margin-top: 5px;">
            <label>Enter time: <input type="datetime-local" id="timeInput" name="timeInput" min=""></label>
        </div>
    </div>
</div>