<div th:fragment="editButtons">
  <div id="editdelete">
    <div class="button-container-create">
      <button type="button" onclick="toggleEditMode()">Edit</button>
    </div><br>
    <div class="button-container-create">
      <button type="submit">Delete</button>
    </div>
  </div>
  <div id="savecancel" style="display: none;">
    <div class="button-container-create">
      <button type="submit">Save</button>
    </div><br>
    <div class="button-container-create">
      <button type="submit">Cancel</button>
    </div>
  </div>
</div>